<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>

<body>

<h1 th:text="HOME">HOME</h1>

<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Marca</th>
        <th>(Developer</th>
        <th>Options)</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="Patinet : ${llistatPatinets}">
        <td th:text="${Patinet.getNomPatinet}">Nom Patinet</td>
        <td th:text="${Patinet.getMarcaPatinet}">Marca Patinet</td>
        <td>
            <form action="#" method="post" th:action="@{update/{name}(name = ${Patinet.getNomPatinet})}"
                  th:object="${Patinet}">
                <input type="submit" value="Actualitzar"/>
            </form>
        </td>
        <td>
            <form action="#" method="post" th:action="@{delete/{name}(name = ${Patinet.getNomPatinet})}"
                  th:object="${Patinet}">
                <input type="submit" value="Eliminar"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>

<form action="#" method="post" th:action="@{afegir}">
    <input type="submit" value="Afegir"/>
</form>

<br><br>

<table>
    <thead>
    <tr>
        <th>
            <form method="post" th:action="@{/login}">
                <input type="submit" value="Entrar"/>
            </form>
        </th>
        <th>
            <form method="get" th:action="@{/registration}">
                <input type="submit" value="Registrar-se"/>
            </form>
        </th>
        <th>
            <form method="post" th:action="@{/logout}">
                <input type="submit" value="Sortir"/>
            </form>
        </th>
    </tr>
    </thead>


</table>

</body>
</html>