<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>

<body>

<h1 th:text="HOME">HOME</h1>

<table>
    <thead>
    <tr>
        <th>
            <form method="get" th:action="@{/llistatPatinets}">
                <input type="submit" value="Llistat Patinets"/>
            </form>
        </th>
        <th>
            <form method="get" th:action="@{/llistatUsuaris}">
                <input type="submit" value="Llistat Usuaris"/>
            </form>
        </th>
    </tr>
    </thead>
</table>

<br><br>

<table>
    <thead>
    <tr>
        <th>
            <form method="get" th:action="@{/home}">
                <input type="submit" value="Home"/>
            </form>
        </th>
        <th>
            <form method="post" th:action="@{/login}">
                <input type="submit" value="Entrar"/>
            </form>
        </th>
        <th>
            <form method="get" th:action="@{/registration}">
                <input type="submit" value="Registrar-se"/>
            </form>
        </th>
        <th>
            <form method="post" th:action="@{/logout}">
                <input type="submit" value="Sortir"/>
            </form>
        </th>
    </tr>
    </thead>
</table>

</body>
</html>